<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>岩手県警察 サイバー犯罪対策体験</title>
    <link rel="icon" href="/photos/cs.jpg" type="image/png">
    <link rel="stylesheet" href="/css/Experience.css">
</head>
<body>

    <header class="header">
        <div class ="header-logo">
            <img src="/photos/Wow.png" alt="注意喚起" class="header-logo">
        </div>
    </header>

    <div class="kv">
        <div class="kframe">
            <img src="/photos/smartphone.PNG" alt="スマホ画面" class="kframe-img">
            <div class="kframeinner">
                <img src="/photos/iwatephoto.jpg" alt="表示する画像" class="inner-image">
                <div class="inner-app">
                    <!-- ボタンを<a>タグに変更し、正しいパスを指定 -->
                    <a class="app-icon icon-phone" href="./app/phone">
                        <img src="/photos/appicon/dennwa.png" alt="電話">
                    </a>
                    <a class="app-icon icon-calendar" href="./app/calendar">
                        <img src="/photos/appicon/calendar.png" alt="カレンダー">
                    </a>
                    <a class="app-icon icon-mail" href="./app/mail">
                        <img src="/photos/appicon/mail.png" alt="メール">
                    </a>
                    <a class="app-icon icon-message" href="./app/message">
                        <img src="/photos/appicon/message.png" alt="メッセージ">
                    </a>
                    <a class="app-icon icon-search" href="./app/search">
                        <img src="/photos/appicon/search.png" alt="検索">
                    </a>
                    <a class="app-icon icon-setting" href="./app/setting">
                        <img src="/photos/appicon/setting.png" alt="設定">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
