<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>岩手県警察 サイバー犯罪対策体験</title>
    <link rel="icon" href="/photos/cs.jpg" type="image/png">
    <link rel="stylesheet" href="/css/indexStyle.css">
<script src = "/routes/Routes.js"></script>
</head> 
<body>

    <header class="header">
        <img src="/photos/IPimage.jpg" alt="岩手県警察ロゴ" class="header-logo">
    </header>

    <div class="kv">
        <h1 class="main-title">
            <img src="/photos/title.png" alt="インターネットの危険" class="img-position-1">
            <img src="/photos/one_click_sagi.png" alt="ワンクリック詐欺のイメージ" class="img-position-2">
            <img src="/photos/website_phishing.png" alt="フィッシング詐欺サイトのイメージ" class="img-position-3">
            <img src="/photos/kowagari_okubyou_man.png" alt="恐怖を感じる人のイラスト" class="img-position-4">
        </h1>
    </div>

    <main class="intro-content">
        <h2 class="intro-txt-label">
            その操作、本当に<strong class="text-danger">安全？</strong>
        </h2>
        <p class="intro-sub-title">インターネットに潜む恐怖を擬似体験</p>
                <a href="/cybersimulator/app" class="big-button">体験画面へ進む</a>
    </main>
</body>
</html>