<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>岩手県警察 サイバー犯罪対策体験</title>
    <link rel="icon" href="/photos/cs.jpg" type="image/png">
    
    <link rel="stylesheet" href="/css/Experience.css">
    
    <link rel="stylesheet" href="/css/koukoku.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class ="header-logo">
            <img src="/photos/Wow.png" alt="注意喚起" class="header-logo">
        </div>
    </header>

    <div class="kv">
        <div class="kframe">
            <img src="/photos/smartphone.PNG" alt="スマホ画面" class="kframe-img">
            <div class="kframeinner">
            
                <div class="warning-container">
                    
                    <header class="warning-header">
                        <i class="material-icons warning-icon">warning</i>
                        <h2>セキュリティ警告</h2>
                    </header>

                    <main class="warning-content">
                        <p class="warning-message-large">
                            お使いのデバイスは (3) 件の
                            <br>
                            <strong>深刻なウイルスに感染しています！</strong>
                        </p>

                        <div class="scan-animation">
                            <div class="scan-bar"></div>
                            <p class="scan-status">スキャン中... 脅威を検出しました！</p>
                        </div>
                        
                        <p class="warning-message-small">
                            このまま放置すると、個人情報（写真、連絡先、クレジットカード情報）が抜き取られ、デバイスがロックされる危険があります。
                        </p>
                        <p class="warning-message-small">
                            <strong>直ちに</strong>以下のボタンをタップして、最新のセキュリティソフト（無料）をインストールし、脅威を除去してください。
                        </p>

                        <a href="javascript:void(0);" class="fix-button">
                            今すぐウイルスを除去する
                        </a>
                    </main>
                    
                </div>
                </div>
        </div>    
    </div>
</body>
</html>